<nav>
  <h1><a class="home-logo" href="/">NodeJS + MongoDB</a></h1>
  <ul>
    <% if (user) { %>
    <li>
      <a class="user" href="/api/users/me">Welcome, <%= user.username %></a>
    </li>
    <li><a href="/api/users/me">Profile</a></li>
    <li><a href="/api/notes">Notes</a></li>
    <li><a href="/api/auth/logout">Log Out</a></li>
    <% } else { %>
    <li><a href="/api/auth/login">Log in</a></li>
    <li><a class="btn" href="/api/auth/register">Sign Up</a></li>
    <% } %>
  </ul>
</nav>
