<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="home">
    <%- include('./partials/nav.ejs') %>
    <h1>NodeJS + MongoDB</h1>
    <p>Use NodeJS to implement CRUD API for notes.</p>
  </body>
</html>
