<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <form id="post-form" method="post" action="/add-post">
      <div class="form-info">
        <label
          >Notes Title
          <input type="text" name="title" />
        </label>
      </div>
      <div class="form-text">
        <label
          >Notes Text
          <textarea name="text"></textarea>
        </label>
      </div>
      <div class="form-button">
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>
