<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="home">
    <%- include('./partials/nav.ejs') %>
    <form action="/api/users/me">
      <h2>Profile</h2>
      <label for="username">User name</label>
      <input type="text" name="username" required />
      <div class="username-err"></div>

      <!-- <label for="password">Password</label>
      <input type="password" name="password" required />
      <div class="password-err"></div> -->

      <label for="age">User age</label>
      <input type="text" name="age" required />

      <label for="country">Country</label>
      <input type="text" name="country" required />

      <label for="user_id">user_id</label>
      <input type="text" name="user_id" required />
      <button>Save</button>
      <button>Edit</button>
      <button>Delete</button>
    </form>

    <!-- <script>
      const form = document.querySelector('form');
      const usernameError = document.querySelector('.username-err');
      const passwordError = document.querySelector('.password-err');

      form.addEventListener('submit', async (e) => {
        e.preventDefault();

        //reset errors
        usernameError.textContent = '';
        passwordError.textContent = '';

        // get values
        const username = form.username.value || req.body.username;
        const password = form.password.value || req.body.password;

        try {
          const res = await fetch('/api/users/me', {
            method: 'GET',
            body: JSON.stringify({ username, password }),
            headers: { 'Content-Type': 'application/json' },
          });
          console.log(username, password);

          const data = await res.json();

          if (data.errors) {
            usernameError.textContent = data.errors.username;
            passwordError.textContent = data.errors.password;
          }

          if (data.user) {
            location.assign('/');
          }
        } catch (err) {
          console.log(err);
        }
      });
    </script> -->
  </body>
</html>
