<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="home">
    <%- include('./partials/nav.ejs') %>
    <form action="/api/auth/register">
      <h2>Sign up</h2>
      <label for="username">Username</label>
      <input type="text" name="username" required />
      <div class="username-err"></div>
      <label for="password">Password</label>
      <input type="password" name="password" required />
      <div class="password-err"></div>
      <button>Sign up</button>
    </form>

    <script>
      const form = document.querySelector('form');
      const usernameError = document.querySelector('.username-err');
      const passwordError = document.querySelector('.password-err');

      form.addEventListener('submit', async (e) => {
        e.preventDefault();

        //reset errors
        usernameError.textContent = '';
        passwordError.textContent = '';

        // get values
        const username = form.username.value || req.body.username;
        const password = form.password.value || req.body.password;

        try {
          const res = await fetch('/api/auth/register', {
            method: 'POST',
            body: JSON.stringify({ username, password }),
            headers: { 'Content-Type': 'application/json' },
          });

          const data = await res.json();
          console.log(res.json());

          if (data.errors) {
            usernameError.textContent = data.errors.username;
            passwordError.textContent = data.errors.password;
            console.log(usernameError.textContent, passwordError.textContent);
          }

          if (data.user) {
            location.assign('/');
          }
        } catch (err) {
          console.log(err);
        }
      });
    </script>
  </body>
</html>
